*.log
*.swp
*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
.tox/
env*/
tmp/
Data.fs*
.DS_Store
coverage
/arscca/static/histograms/*.png
/arscca/static/uploaded/*.png
/config/environment.txt
/node_modules
/config/aws_credentials.json
/config/user_passwords.json
/.env
