*.log
*.swp
*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
.DS_Store
coverage
/arscca/static/histograms/*.png
/arscca/static/uploaded/*.png
/config/environment.txt
/node_modules
package-lock.json
/config/aws_credentials.json
