<h2 class='h2_banner'>Driver Photos</h2>
<p>Thanks everyone who let me take their pictures at Event 3! If I missed you, please send me a photo of yourself to my email listed at the bottom of this page. </p>
{% for photo in photos %}
    <div class='photo__holder'>
        <a href='/drivers/{{ photo.driver_slug }}'>
            <img class='photo__img' src='{{ photo.path("small", request=request) }}'></img>
        </a>
        <a href='/drivers/{{ photo.driver_slug }}'>
            <div class='photo__driver-name'>{{ photo.driver_name }} </div>
        </a>
    </div>
{% endfor %}


