


{% if short %}
    <h2>Upcoming Events</h2>
{% else %}
    <p><b>ALL EVENT DATES ARE SUBJECT TO CHANGE, so please check back regularly for updates.</b></p>
{% endif %}


{% include 'templates/_calendar_table.jinja2' %}




