{% extends "layout.jinja2" %}

{% block content %}

<div class="content">
    <div class='crumb'>
        <a href='/' class='crumb__link'>Home</a>
        ->
        <a href='/drivers' class='crumb__link'>Drivers</a>
        ->
        {{ name }}
    </div>


    <div class='driver__name'>{{ name }}</div>
    {% for photo in photos %}
        <img class='driver__photo' src='{{ photo.path("medium", request=request) }}'></img>
    {% endfor %}

    {% if gossip %}
        <div class='gossip'>
            {% if not gossip.startswith('<h2>') %}
                <h2>About {{ name.split(' ')[0] }}</h2>
            {% endif %}

            {{ gossip | safe }}
        </div>
    {% endif %}


</div>
{% endblock content %}
