{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <div class='crumb'>
        <a href='/' class='crumb__link'>Home</a>
        ->
        Events
        ->
        {{ event_name }}
    </div>


    <h1 class='event__name'>
        {{ event_name }}
        {% if num_courses == 1 %}
            (Governor's Cup)</b></li>
        {% endif %}
    </h1>
    <div class='event__date'>{{ event_date }}</div>

    {% if errors %}
        <div class='errors'>
            <h3>Warning</h3>
            {% for error in errors %}
                <div class='error'>
                    {{ error.driver_name }} has calculated score of
                    {{ error.calculated }}, but
                    <a href='{{ source_url }}'>arscca.org</a>
                    shows {{ error.published }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div id='drivers-table-holder'>
        <input type='button' v-on:click='toggleSolo' value='Solo' v-bind:class='soloButtonKlass()'></input>
        <table>
            <thead>
                <tr>
                    <th id='primary-rank' class='sortable-header'>Position (Overall)</th>
                    <th id='secondary-rank' class='sortable-header'>Position (PAX)</th>
                    <th id='percentile-rank'>Position (Percentile)</th>
                    <th id='driver-name' class='sortable-header'>Driver Name</th>
                    <th id='car-number' class='sortable-header'>Driver Number</th>
                    <th id='car-class' class='sortable-header'>Class</th>
                    <th id='class-rank' class='sortable-header'>Position (Class)</th>
                    <th id='car-model' class='sortable-header'>Model</th>
                    <th id='best-combined' class='sortable-header'>Score*</th>
                    <th id='pax-factor' class='sortable-header'>PAX Factor</th>
                    <th id='best-combined-pax' class='sortable-header'>PAX Score*</th>
                    {% for i in range(runs_per_driver) %}
                        <th>Run {{ loop.index }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id='drivers-tbody'>
                <tr v-for='(driver, row_index) in drivers' v-if='visible(driver.id)' v-bind:id='driver.id' v-bind:class='rowKlass(driver.id, row_index)' v-on:click='highlightRow(driver.id)'>
                    <td class='primary-rank'>${ driver.primary_rank }</td>
                    <td class='secondary-rank'>${ driver.secondary_rank }</td>
                    <td class='percentile-rank'>${ driver.percentile_rank }</td>

                    <td class='driver-name'>

                        <div v-if='driver.slug'>
                            <a v-bind:href='`/drivers/${driver.slug}`'>${ driver.name }</a>
                        </div>
                        <div v-else>
                            ${ driver.name }
                        </div>
                    </td>
                    <td class='car-number'>${ driver.car_number }</td>
                    <td class='car-class'>${ driver.car_class }</td>
                    <td class='class-rank'>${ driver.class_rank }</td>
                    <td class='car-model'>${ driver.car_model }</td>
                    <td class='best-combined'>${ replaceInfinity(driver.best_combined) }</td>
                    <td class='pax-factor'>${ driver.pax_factor }</td>
                    <td class='best-combined-pax'>${ replaceInfinity(driver.best_combined_pax) }</td>
                    <td v-for='run in driver.am_runs' class='am-run'>${ run }</td>
                    <td v-for='run in driver.pm_runs' class='pm-run'>${ run }</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class='space-2rem'>&nbsp;</div>
    {% if live %}
        <div id='current-revision'>
            <h3>Updated ${ timestampAgo() } min ago</h3>
            <ul>
                <li>Revision: ${ currentRevision } </li>
                <li>Connection: <span id='connection-state'></span></li>
            </ul>
        </div>
    {% endif %}

    <h3 class='h3'>Tips</h3>
    <ul>
        <li>Click on any column heading to sort</li>
        <li>Click on any row to highlight that row. (Persists even after sorting)</li>
    </ul>

    <h3 class='h3'>* Scoring Details</h3>
    <ul>
        {% if num_courses == 2 %}
            <li>Score is computed by adding best morning run to the best afternoon run.</li>
        {% else %}
            <li><b>Governor's Cup score is best time of the day.</b></li>
        {% endif %}
        <li>Two seconds are added for each pylon. That is, <b>29.723+1</b> is counted as 31.723 seconds.</li>
        <li>PAX Score is Score * PAX Factor</li>
        <li>Position (Percentile) is the percentage of scoring drivers who were faster than you. See <a href='https://en.wikipedia.org/wiki/Percentile_rank'>Percentile Rank</a>.
    </ul>

    {# No histogram for live data in order to reduce bandwidth for individual users #}
    {% if not live %}
        <h3 class='h3'>Histogram</h3>

        {% set histogram_src_arg = histogram_filename.replace('/', ':', 1) %}
        <img src='{{ request.static_path(histogram_src_arg) }}' class='histogram'></img>
        {% if histogram_conformed_count %}
            <ul>
                {% set plural = 'outlier' if histogram_conformed_count == 1 else 'outliers' %}
                <li>({{ histogram_conformed_count }} slowest {{plural}} grouped with next fastest driver)</li>
            </ul>
        {% endif %}
    {% endif %}

    <h3 class='h3'>Data Sources</h3>
    <ul>
        <li><a href='{{ source_url }}'>
            {% if live %}
                Raw Output from AXWare
            {% else %}
                The official ARSCCA results page
            {% endif %}
        </a></li>
        <li><a href='http://solotime.info/pax/rtp2019.html'>The official PAX page</a></li>
    </ul>

    {% if live %}
        <h3 class='h3'>Run Groups</h3>
        <ul>
            <li>Click here to view the <a href='/run_groups'>Run Groups</a></li>
        </ul>
    {% endif %}


</div>

<script>
    // Use |safe filter so jinja2 does not escape the quotes
    {% if live %}
        {# Make the browser fetch from /live/drivers so we can fail fast #}
        {# Using var instead of let because some browsers expect let to only be inside 'use strict' #}
        var drivers = []
    {% else %}
        {# Javascript strings use four backslashes to escape quotes #}
        {# Piping through "safe" so jinja2 does not escape quotes   #}
        var drivers = JSON.parse('{{ drivers_json | replace('\\"', '\\\\"') | safe}}')
    {% endif %}
</script>


<script>
    ready(function(){
        initializeDriversTable({{ live | int }})
    })
</script>




{% endblock content %}
