{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <div class='crumb'>
        <a href='/' class='crumb__link'>Home</a>
        ->
        Events
        ->
        {{ event_name }}
    </div>


    <h1 class='event__name'>{{ event_name }}</h1>
    <div class='event__date'>{{ event_date }}</div>
    <table>
        <thead>
            <tr>
                <th id='position-overall' class='sortable-header'>Position (Overall)</th>
                <th id='position-pax' class='sortable-header'>Position (PAX)</th>
                <th id='driver-name' class='sortable-header'>Driver Name</th>
                <th id='car-number' class='sortable-header'>Driver Number</th>
                <th id='car-class' class='sortable-header'>Class</th>
                <th id='position-class' class='sortable-header'>Position (Class)</th>
                <th id='car-model' class='sortable-header'>Model</th>
                <th id='best-combined' class='sortable-header'>Time*</th>
                <th id='pax-factor' class='sortable-header'>PAX Factor</th>
                <th id='best-combined-pax' class='sortable-header'>PAX Time*</th>
                <th>Run 1</th>
                <th>Run 2</th>
                <th>Run 3</th>
                <th>Run 4</th>
                <th>Run 5</th>
                <th>Run 6</th>
            </tr>
        </thead>
        <tbody id='drivers-tbody'>
            <tr>
                <td colspan='15'>Please enable JavaScript</td>
            </tr>
        </tbody>
    </table>

    <h3 class='h3'>Tips</h3>
    <ul>
        <li>Click on any column heading to sort</li>
        <li>Click on any row to highlight that row. (Persists even after sorting)</li>
    </ul>

    <h3 class='h3'>* Timing Details</h3>
    <ul>
        <li>Time is computed by adding best morning run to the best afternoon run.</li>
    </ul>

    <h3 class='h3'>Data Sources</h3>
    <ul>
        <li><a href='{{ source_url }}'>The official ARSCCA results page</a></li>
        <li><a href='http://solotime.info/pax/rtp2019.html'>The official PAX page</a></li>
    </ul>
</div>
    <script>
        // Use |safe filter so jinja2 does not escape the quotes
        var drivers = {{ drivers |safe }}
    </script>

    <script id='driver-template' type='text/x-handlerbars-template'>
        {% raw %}
            <tr id='{{ id }}' class='{{ row_klass }}'>
                <td class='position-overall'>{{ position_overall }}</td>
                <td class='position-pax'>{{ position_pax }}</td>
                <td class='driver-name'>
                    {{#if slug}}
                        <a href='/drivers/{{ slug }}'>{{ name }}</a>
                    {{else}}
                        {{ name }}
                    {{/if}}
                </td>
                <td class='car-number'>{{ car_number }}</td>
                <td class='car-class'>{{ car_class }}</td>
                <td class='position-class'>{{ position_class }}</td>
                <td class='car-model'>{{ car_model }}</td>
                <td class='best-combined'>{{ best_combined }}</td>
                <td class='pax-factor'>{{ pax_factor }}</td>
                <td class='best-combined-pax'>{{ best_combined_pax }}</td>
                <td class='run-1'>{{ run_1 }}</td>
                <td>{{ run_2 }}</td>
                <td>{{ run_3 }}</td>
                <td class='run-4'>{{ run_4 }}</td>
                <td>{{ run_5 }}</td>
                <td>{{ run_6 }}</td>
            </tr>
        {% endraw %}

    </script>
    <script>
        ready(function(){
            initializeDriversTable()
        })
    </script>




{% endblock content %}
