{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <div class='crumb'>
        <a href='/' class='crumb__link'>Home</a>
        ->
        Events
        ->
        {{ event_name }}
    </div>


    <h1 class='event__name'>{{ event_name }}</h1>
    <div class='event__date'>{{ event_date }}</div>

    {% if errors %}
        <div class='errors'>
            <h3>Warning</h3>
            {% for error in errors %}
                <div class='error'>
                    {{ error.driver_name }} has calculated score of
                    {{ error.calculated }}, but
                    <a href='{{ source_url }}'>arscca.org</a>
                    shows {{ error.published }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th id='position-overall' class='sortable-header'>Position (Overall)</th>
                <th id='position-pax' class='sortable-header'>Position (PAX)</th>
                <th id='position-percentile'>Position (Percentile)</th>
                <th id='driver-name' class='sortable-header'>Driver Name</th>
                <th id='car-number' class='sortable-header'>Driver Number</th>
                <th id='car-class' class='sortable-header'>Class</th>
                <th id='position-class' class='sortable-header'>Position (Class)</th>
                <th id='car-model' class='sortable-header'>Model</th>
                <th id='best-combined' class='sortable-header'>Score*</th>
                <th id='pax-factor' class='sortable-header'>PAX Factor</th>
                <th id='best-combined-pax' class='sortable-header'>PAX Score*</th>
                {% for i in range(runs_per_driver) %}
                    <th>Run {{ loop.index }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id='drivers-tbody'>
            <tr v-for='driver in drivers' id='{{ id }}' class='{{ row_klass }}'>
                <td class='position-overall'>${ driver.position_overall }</td>
                <td class='position-pax'>${ driver.position_pax }</td>
                <td class='position-percentile'>${ driver.position_percentile }</td>

                <td class='driver-name'>

                    <div v-if='driver.slug'>
                        <a v-bind:href='`/drivers/${driver.slug}`'>${ driver.name }</a>
                    </div>
                    <div v-else>
                        ${ driver.name }
                    </div>
                </td>
                <td class='car-number'>${ driver.car_number }</td>
                <td class='car-class'>${ driver.car_class }</td>
                <td class='position-class'>${ driver.position_class }</td>
                <td class='car-model'>${ driver.car_model }</td>
                <td class='best-combined'>${ driver.best_combined }</td>
                <td class='pax-factor'>${ driver.pax_factor }</td>
                <td class='best-combined-pax'>${ driver.best_combined_pax }</td>
                <td v-for='run in driver.am_runs' class='am-run'>${ run }</td>
                <td v-for='run in driver.pm_runs' class='pm-run'>${ run }</td>
            </tr>
        </tbody>
    </table>


    <div class='space-2rem'></div>
    <h3 class='h3'>Tips</h3>
    <ul>
        <li>Click on any column heading to sort</li>
        <li>Click on any row to highlight that row. (Persists even after sorting)</li>
    </ul>

    <h3 class='h3'>* Scoring Details</h3>
    <ul>
        <li>Score is computed by adding best morning run to the best afternoon run.</li>
        <li>Two seconds are added for each pylon. That is, <b>29.723+1</b> is counted as 31.723 seconds.</li>
        <li>PAX Score is Score x PAX Factor</li>
        <li>Position (Percentile) is the percentage of scoring drivers who were faster than you. See <a href='https://en.wikipedia.org/wiki/Percentile_rank'>Percentile Rank</a>.
    </ul>

    <h3 class='h3'>Histogram</h3>

    {% set histogram_src_arg = histogram_filename.replace('/', ':', 1) %}
    <img src='{{ request.static_path(histogram_src_arg) }}' class='histogram'></img>

    <h3 class='h3'>Data Sources</h3>
    <ul>
        <li><a href='{{ source_url }}'>
            {% if live %}
                Raw Output from AXWare
            {% else %}
                The official ARSCCA results page
            {% endif %}
        </a></li>
        <li><a href='http://solotime.info/pax/rtp2019.html'>The official PAX page</a></li>
    </ul>
</div>
    <script>
        // Use |safe filter so jinja2 does not escape the quotes
        var drivers = JSON.parse('{{ drivers_json | replace("'", '"') | safe}}')
    </script>


    </script>
    <script>
        ready(function(){
            initializeDriversTable()
        })
    </script>




{% endblock content %}
