{% extends 'templates/layout.jinja2' %}
{% block content %}

<div class="content">
    <div class='crumb'>
        <a href='/' class='crumb__link'>Home</a>
        -> Help
    </div>
    <div class='space-1rem'></div>

    <h1>Help Topics</h2>
    <div class='space-1rem'></div>
    <ul>
        <li><a href='/help/scanner'>Barcode Scanner</a></li>
        <li><a href='/help/timing_lights'>Timing Lights</a></li>
        <li><a href='/help/axware'>AxWare Timing Software</a></li>
        <li><a href='//www.scca.com/downloads/49002-2020-solo-rules-book-2-draft-b-2020-02-14/download'</a>SCCA Rulebook</li>
    </ul>

</div>

{% endblock content %}

