{% extends "layout.jinja2" %}

{% block content %}
<div class="content">

    <div class='crumb'>Home</div>

    <h2 class='h2_banner'>Live Results</h2>
    <div class='event__link'><a href='/live'>Live Results</a></div>

    {% for year, event_dates in event_dates_by_year | dictsort(reverse=True) %}
        <h2 class='h2_banner'>{{ year }}</h2>
        <div class='left'>
            {% for event_date, joomla_id, surface, friendly_date in event_dates %}
                <div class='event__link event__link_{{ surface }}'>
                    {% set event_name = event_names[event_date] or event_date %}
                    <a href='/events/{{ event_date }}'>{{ event_name }}</a>
                </div>
            {% endfor %}
        </div>

        <!--<div class='left trophy__holder'>
            <a href='/standings'>
                <img class='trophy__image' src='{{ request.static_path('arscca:static/images/trophy.png') }}'></img>
                <div class='trophy__link'>Standings</div>
            </a>
        </div>
        -->
        <div class='clear'></div>

    {% endfor %}



    {% include '_driver_photos.jinja2' %}


    <div class='about-section'>
        <h2 class='h2_banner'>About</h2>
        <p>The unOFFICIAL Guide is just that---unofficial.</p>
        <p>
            The RESULTS above are updated hourly from the
            <a href='http://arscca.org'>ARSCCA Website</a>
            and reformatted for convenient sorting by whichever column you choose.
        </p>
    </div>

</div>
{% endblock content %}
