{% extends "layout.jinja2" %}

{% block content %}
<div class="content">

    <div class='crumb'>Home</div>


    <h2 class='h2_banner'>2018 Results (Sortable)</h2>
    <div class='event__link'><a href='/events/2018-07-22'>2018 Solo II Event 8</a></div>
    <div class='event__link'><a href='/events/2018-07-21'>2018 Solo II Event 7</a></div>
    <div class='event__link'><a href='/events/2018-06-24'>2018 Solo II Event 6</a></div>
    <div class='event__link'><a href='/events/2018-06-10'>2018 Solo II Event 5</a></div>
    <div class='event__link'><a href='/events/2018-06-09'>2018 Solo II Event 4</a></div>
    <div class='event__link'><a href='/events/2018-05-26'>2018 Solo II Event 3</a></div>
    <div class='event__link'><a href='/events/2018-04-15'>2018 Solo II Event 2</a></div>
    <div class='event__link'><a href='/events/2018-03-18'>2018 Solo II Event 1</a></div>


    <h2 class='h2_banner'>Driver Photos</h2>
    <p>No photos yet. Sorry!</p>


    <div class='about-section'>
        <h2 class='h2_banner'>About</h2>
        <p>The unOFFICIAL Guide is just that---unofficial.</p>
        <p>
            The RESULTS above are updated hourly from the
            <a href='http://arscca.org'>ARSCCA Website</a>
            and reformatted for convenient sorting by whichever column you choose.
        </p>
    </div>

</div>
{% endblock content %}
