{% extends "layout.jinja2" %}

{% block content %}
<div class="content">

    <table>
        <thead>
            <tr>
                <th>Pos Overall</th>
                <th>Pos PAX</th>
                <th>Pos Class</th>
                <th>Driver</th>
                <th>Number</th>
                <th id='car-class' class='sortable-header'>Class</th>
                <th>Model</th>
                <th id='fastest-time' class='sortable-header'>Best Time</th>
                <th>Pax Factor</th>
                <th id='fastest-pax-time' class='sortable-header'>Best PAX Time</th>
                <th>Run 1</th>
                <th>Run 2</th>
                <th>Run 3</th>
                <th>Run 4</th>
                <th>Run 5</th>
                <th>Run 6</th>
            </tr>
        </thead>
        <tbody id='drivers-tbody'>
            <tr>
                <td colspan='15'>Please enable JavaScript</td>
            </tr>
        </tbody>
    </table>
</div>
    <script>
        // Use |safe filter so jinja2 does not escape the quotes
        var drivers = {{ drivers |safe }}
    </script>

    <script id='driver-template' type='text/x-handlerbars-template'>
        {% raw %}
            <tr>
                <td>{{ position_overall }}</td>
                <td>{{ position_pax }}</td>
                <td>{{ position_class }}</td>
                <td>{{ name }}</td>
                <td>{{ car_number }}</td>
                <td class='car-class'>{{ car_class }}</td>
                <td>{{ car_model }}</td>
                <td class='fastest-time'>{{ fastest_time }}</td>
                <td>{{ pax_factor }}</td>
                <td class='fastest-pax-time'>{{ fastest_pax_time }}</td>
                <td>{{ run_1 }}</td>
                <td>{{ run_2 }}</td>
                <td>{{ run_3 }}</td>
                <td>{{ run_4 }}</td>
                <td>{{ run_5 }}</td>
                <td>{{ run_6 }}</td>
            </tr>
        {% endraw %}

    </script>

{% endblock content %}
