{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <div class='crumb'>
        <a href='/' class='crumb__link'>Home</a>
        ->
        Events
        ->
        {{ year }} Nationals
    </div>


    <h1 class='event__name'>{{ year }} Nationals</h1>
    <div class='event__date'>{{ event_date }}</div>
    <div id='drivers-table-holder'>

        <table>
            <thead>
                <tr>
                    <th id='primary-rank' class='sortable-header'>Position (Overall)</th>
                    <th id='secondary-rank' class='sortable-header'>Position (PAX)</th>
                    <th id='driver-name' class='sortable-header'>Driver Name</th>
                    <th id='car-number' class='sortable-header'>Driver Number</th>
                    <th id='codriver-car-number' class='sortable-header'>CoDriver Number</th>
                    <th id='car-class' class='sortable-header'>Class</th>
                    <th id='class-rank' class='sortable-header'>Position (Class)</th>
                    <th id='car-year' class='sortable-header'>Year</th>
                    <th id='car-model' class='sortable-header'>Model</th>
                    <th id='best-combined' class='sortable-header'>Time*</th>
                    <th id='pax-factor' class='sortable-header'>PAX Factor</th>
                    <th id='best-combined-pax' class='sortable-header'>PAX Time*</th>
                    <th>Run 1</th>
                    <th>Run 2</th>
                    <th>Run 3</th>
                    <th>Run 4</th>
                    <th>Run 5</th>
                    <th>Run 6</th>
                </tr>
            </thead>

        </script>

            <tbody id='drivers-tbody'>
                <tr v-for='(driver, index) in drivers' v-bind:id='driver.id' v-bind:class='index % 2 ? "" : "tr_stripe"'>
                    <td class='primary-rank'>${ driver.primary_rank }</td>
                    <td class='secondary-rank'>${ driver.secondary_rank }</td>
                    <td class='driver-name'>${ driver.name }</td>
                    <td class='car-number'>${ driver.car_number }</td>
                    <td class='codriver-car-number'>${ driver.codriver_car_number }</td>
                    <td class='car-class'>${ driver.car_class }</td>
                    <td class='class-rank'>${ driver.class_rank }</td>
                    <td class='car-year'>${ driver.car_year }</td>
                    <td class='car-model'>${ driver.car_model }</td>
                    <td class='best-combined'>${ driver.best_combined }</td>
                    <td class='pax-factor'>${ driver.pax_factor }</td>
                    <td class='best-combined-pax'>${ driver.best_combined_pax }</td>
                    <td class='am-run'>${ driver.run_1 }</td>
                    <td class='am-run'>${ driver.run_2 }</td>
                    <td class='am-run'>${ driver.run_3 }</td>
                    <td class='pm-run'>${ driver.run_4 }</td>
                    <td class='pm-run'>${ driver.run_5 }</td>
                    <td class='pm-run'>${ driver.run_6 }</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 class='h3'>Tips</h3>
    <ul>
        <li>Click on any column heading to sort</li>
        <li>Click on any row to highlight that row. (Persists even after sorting)</li>
    </ul>

    <h3 class='h3'>* Timing Details</h3>
    <ul>
        <li>Time is computed by adding best time on first course to best time on second course.</li>
    </ul>

    <h3 class='h3'>Data Sources</h3>
    <ul>
        <li>{{ year }} Lincoln Air Park in the <a href='//www.scca.com/pages/solo-archives'>scca.com Solo Archives</a>.
            <!-- Direct file link: <a href='//www.scca.com/downloads/42353-2018-solo-nationals-official-class-results-combined/download'>here</a>. -->
        </li>
        <li>{{ year }} Indexed Results, <i>Nationals</i> at <a href='//solotime.info/pax/rtp2018.html'>Solotime</a>
            <!--Direct file link: <a href='//www.dropbox.com/sh/0rmqth35bi3c7tx/AABV2JS7ptXYnoQyR9UUrhmIa?raw=1'>here</a>. -->
        </li>
    </ul>

    <h3 class='h3'>Download CSV</h3>
    <ul>
        {% set trimmed = request.static_path('arscca:static/%s-national-results.csv' % year) %}
        {% set full    = request.static_path('arscca:static/%s-national-results__full.csv' % year) %}
        <li><a href='{{ trimmed }}'>Trimmed CSV File</a> (Only the columns used on this page)</li>
        <li><a href='{{ full }}'>Full CSV File</a> (Includes all columns present in both data sources, plus a couple of interpolated columns)</li>
    </ul>


</div>
    <script>
        // Use |safe filter so jinja2 does not escape the quotes
        var drivers = JSON.parse('{{ drivers | replace("'", '"') | safe}}')

    </script>



    <script>
        ready(function(){
            initializeDriversTable(0)
        })
    </script>




{% endblock content %}
