{% extends 'templates/layout.jinja2' %}
{% block content %}

<div class="content">
    <div class='crumb'>
        <a href='/' class='crumb__link'>Home</a>
        -> Opinion
    </div>
    <div class='space-1rem'></div>

    <h1>Opinion</h2>

    Have a fun & educational opinion to share? Send it to the curator (Jack) for inclusion here.

    <div class='space-1rem'></div>
    <ul>
        <li><a href='/opinion/pax-the-great-leveler'>PAX: The Great Leveler</a> (Jack Desert, July 2020)</li>
    </ul>


</div>

{% endblock content %}

