{% extends "layout.jinja2" %}

{% block content %}

<div class="content">
    <div class='crumb'>
        <a href='/' class='crumb__link'>Home</a>
        ->
        Event Photos
    </div>


    <h2>Event Photos</h2>
    <div class='space-1rem'></div>
    <a href='/photos/upload' class='btn btn-danger'>Upload</a></h2>
    <div class='space-1rem'></div>
    {% for date, keys in keys_by_date.items() %}
        <div class='space-1rem'></div>
        <h2>{{date}}</h2>
        {% for key in keys %}
            <img class='uploaded-photo' src='//{{bucket}}.s3-us-west-2.amazonaws.com/{{key}}' />
        {% endfor %}
    {% endfor %}


</div>
<div id='overlay' class='overlay'>
    <img id='overlay__img' class='overlay__img' src=''></img>
</div>
<script>
    ready(bindEnlargePhotoOnClick)
</script>
{% endblock content %}
