{% extends "layout.jinja2" %}

{% block content %}

<div class="content">
    <div class='crumb'>
        <a href='/' class='crumb__link'>Home</a>
        ->
        Event Photos
    </div>


    <h2>Event Photos</h2>

    <div class='space-1rem'></div>
    <h2><a href='/photos/upload' class='btn btn-danger'>Upload</a></h2>
    <div class='space-1rem'></div>
    <div>Group Photos By</div>

    <input type='radio'
           id='group-by-snap-date'
           class='radio'
           name='group-by'
           value='snap_date'
           {% if not by_upload_date %}
             checked
           {% endif %}/>
    <label for='group-by-snap-date'
           class='radio {% if not by_upload_date %} radio_checked {% endif %}' >
             Date Taken
    </label>

    <br>

    <input type='radio'
           id='group-by-upload-date'
           class='radio'
           name='group-by'
           value='upload_date'
           {% if by_upload_date %}
             checked
           {% endif %}/>
    <label for='group-by-upload-date'
           class='radio {% if by_upload_date %} radio_checked {% endif %}' >
             Date Uploaded
    </label>


    <br>

    {% for date, friendly_date, keys in grouped_keys %}
        <div class='space-1rem'></div>
        <h3 class='photo-page__date'>
            {% if by_upload_date %}
                (Uploaded on)
            {% else %}
                (Taken on)
            {% endif %}
            {{friendly_date}}
        </h3>
        {% for key in keys %}
            <img class='uploaded-photo' src='//{{bucket}}.s3-us-west-2.amazonaws.com/{{key}}' />
        {% endfor %}
    {% endfor %}


</div>
<div id='overlay' class='overlay'>
    <img id='overlay__img' class='overlay__img' src=''></img>
</div>
{% endblock content %}


{% block entrypoint %}
    <script type="module" src="{{request.static_path('arscca:static/04_browserified/page-photos.js')}}"></script>
{% endblock %}

