Q: How do I get someone experienced to show me how to drive my car better?

Q: What happens at tech inspection?

Q: Can I run any car I want?

Q: How do I find out how fast I ran?

Q: How do I go faster?

Q: How do I get more involved in the autocross community?
A:
