{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    {% if admin %}
        <div class='crumb'>
            <a href='/' class='crumb__link'>Home</a>
            ->
            Run Group Generator
        </div>
    {% else %}
        <div class='crumb'>
            <a href='/' class='crumb__link'>Home</a>
            ->
            Run Groups
        </div>
    {% endif %}




    {% if admin %}
    <h1 class='run-group__h1'>Run Group Generator ({{ num_drivers }} Total Drivers)</h1>
    <div>This page randomly assigns drivers to a run group, but keeps ladies' classes in the same run group as the associated open class.</div>

        {% if run_groups %}
            <form action='/admin/run_groups/clear' method='POST'>
                <input class='run-group__button_clear' type='submit' value='Clear Run Groups' onclick='return confirm("Clear Run Groups?")'></input>

            </form>
        {% else %}
            <form action='/admin/run_groups/generate' method='POST'>
                <input class='run-group__button_generate' type='submit' value='Generate Run Groups' onclick='return confirm("Generate New Run Groups?")'></input>
            </form>
        {% endif %}

    <h2 class='run-group__h2'>Help</h2>
    <div>If you expected something different than {{ num_drivers }} total drivers, press the <b>Standings</b> button in AxWare to push drivers to cloud. Then clear run groups and generate them again.</div>

    {% else %}
        {% if run_groups %}
            <h1 class='run-group__h1'>Run Groups ({{ num_drivers }} Total Drivers)</h1>
            <div class='run-group__intro'>These run groups have been randomly assigned. Note that ladies' classes are in the same run group as the associated open class.</div>
        {% endif %}
    {% endif %}

    {% if run_groups %}
        {% for group in run_groups %}
            {% if loop.index < 3 %}
            <h2 class='h2_banner'>Run Group {{ loop.index }} ({{ counter[loop.index - 1] }} Drivers)</h2>
            {% else %}
            <h2 class='h2_banner'>Karts ({{ counter[loop.index - 1] }} Drivers)</h2>
            {% endif %}

            {% for car_class, driver_names in group | dictsort %}
                <div class='run-group__car-class'>{{ car_class }}</div>
                <ul>
                {% for name, slug in driver_names | sort %}
                    <li class='run-group__driver-name'>
                        {{ name }}
                        {% if slug in axware_capable_slugs %}
                        <img class='run-group__skill-icon' src='{{ request.static_path('arscca:static/images/laptop_icon.png') }}'></img>
                        {% endif %}

                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        {% endfor %}
    {% else %}
    <h2>Run groups have not yet been generated.</h2>
    {% endif %}





</div>



{% endblock content %}
