<h1>DataLogic PBT7100 Barcode Scanner & AxWare</h1>

<h2>1. Connecting the Cables</h2>
<ul>
    <li>Connect the power supply to the base and plug it into an outlet.</li>
    <li>Place the base near the laptop.</li>
    <li>Plug the Serial-USB adapter into the laptop</li>
    <li>Connect the (coiled) CAB-408 RS232 cable between the base and the Serial-USB adapter. (This cable looks like an Ethernet connector, but it actually has 10 conductors instead of 8.)</li>
</ul>

<h2>2. Power On Handheld</h2>
<ul>
    <li>Insert the battery fully into the handheld.</li>
    <li>Hold the trigger down for about three seconds until you hear four high beeps. (Now it's on)</li>
</ul>

<h2>3. Link the Handheld with the Base</h2>
<p>If the scanner is already paired with a base, you will also hear beeps L-M-H, and the base LED will blink at 50hz for half a second to indicate transmission. If you do not hear this, you must link the handheld as follows:</p>


<ul>
    <li>Hold Base Button for two seconds, then release. (If button doesn't spring back up immediately, pry it up with your fingernail)</li>
    <li>Now Base is in "Linking Mode", and LED will blink</li>
    <li>While base is in "Linking Mode", scan the barcode located in the cup of the base.</li>
    <li>Success is indicated by L-M-H beep.</li>
</ul>

<p>Only one handheld may be linked at a time. If you link the other handheld, the first one will no longer be linked.</p>


<h2>4. Verify Data Through Cable</h2>
<p>Scan a barcode (just about anything will do) and listen to the sound it makes. With the default settings, you get a single beep when you get a successful scan. Also the transmission LED on the base will blink ever so briefly. If you make it this far, the handheld and the base are properly linked.</p>

<p>If the handheld and base are linked, you will see all of this:</p>
<ul>
    <li>The red laser turns off and a green dot appears in its place</li>
    <li>The yellow base LED on the base blinks on for a super short duration (transmission?)</li>
    <li>The lights on the USB-serial converter light up (transmission)</li>
    <li>The green base LED turns on for one second.</li>
    <li>The scanner beeps (hard to tell if it's a single H or another note with it)</li>
</ul>

<p>Note that the handheld and the scanner being linked is a prerequisite for getting data to the computer, but the scanner and handheld can be linked even if the cable to the computer is not present</p>

<p>Scan a barcode again, and this time watch the LEDs on the Gearmo GM-FTDI-A12 Serial to USB Converter. A couple of the LEDs will light up ever so briefly when you scan the barcode. If this is successful, it means data is making all the way out through the first cable. If no data goes through the first cable, check that it is properly seated in the base. If there is still no data, get a new cable. (See Part Numbers at the end of this document)</p>



<h2>5. Configure AxWare Bar Code Settings</h2>

<ul>
    <li>Click Bar Coding -> Bar Code Scanner Config</li>
    <li><img src='{{ request.static_path('arscca:static/images/axware-barcode-settings.png') }}'></img></li>
    <li>Radio Button: Select "Use Default Bar Code Values". (This means car class + car number)</li>
    <li>Bar Code Width (Printing): 60 (mm) (or as wide as will fit on the labels)</li>
    <li><span style='color: red; font-weight: bold;'>Checkboxes: Check "Use strict bar code scanning"</span> (This makes it so any unrecognized barcodes that come through will raise a popup error instead of being silently ignored)</li>
    <li>Scanner Port: Make sure something is selected. Try disconnecting the Serial to USB converter, click "Refresh Port List" to see which one went away. Then reconnect it and click "Refresh Port List" again. Now you know which one is for the scanner---choose that on.</li>
    <li>Parity: None (This matches the scanner default)</li>
    <li>Repeat Scan Timeout: (Default is 2, but set it more if that makes sense)</li>
    <li>Prefix Delimiter: (Leave Blank)</li>
    <li><span style='color: red; font-weight: bold;'>Postfix Delimiter (This is IMPORTANT): 0x0d </span> (See the section in Troubleshooting on Postfix Delimiters)</li>
    <li>Select the appropriate Port. (Name depends on make/model of Serial to USB converter). Click "Refresh Port List" if your COM port does not show up.</li>
    <li>Click OK</li>
</ul>




<h2>6. Print Bar Code Labels in AxWare</h2>

<p>First make sure there is a default printer selected (Setup -> Options -> Print Settings)</p>

<ul>
    <li>To print one label, right click on a participant and select "Print bar code label"</li>
    <li>To print several labels, highlight several participants (Click, then SHIFT + Click)
and click Bar Coding -> Print Bar Codes for Selected Entries</li>
    <li> To print all labels, Bar Coding -> Print Bar Codes for All Entries</li>
</ul>



<h2>7. Activate Scanner in AxWare</h2>
<ul>
    <li>Click Bar Coding -> Activate Scanner</li>
    <li>Click Bar Coding -> Staging Mode</li>
</ul>

<h2>8. Verify AxWare Receives Scanner Data</h2>
<ul>
    <li> Scan a bar code. If that car shows up in the staging screen, you're good to go.</li>
    <li>If you get a pop up with an error, view the staging log. Click View -> Staging Log. This will show you all the data that comes through. If the staging log says the barcode was not found, verify that the barcode you scanned represents a person actually in the event. If so, see Troubleshooting.</li>
</ul>

<h2>9. Running Start</h2>
<p>With the scanner activated, whoever is working the computer STILL has the ability to add other cars to the staging grid. Also, if you scan the same barcode twice, it will show up TWICE in the staging grid. If this happens and it was an accident, just call over the radio to have the computer worker delete one of them.</p>

<p>
The club has two identical scanners. While you are scanning with one, make sure the other is charging on the base.
</p>



<h2>10. Troubleshooting</h2>
<h3>Strange Blinking Pattern</h3>
<p>If it gets stuck in some strange mode, power cycle both the handheld (remove the battery, then insert again) and the base (disconnect, then reconnect power adapter). When they power back on, listen for the L M H beep pattern that indicates the handheld and the base are linked. If they are not linked, go back to the section "Link the Handheld with the Base"</p>



<h3>10a. Postfix Delimiter</h3>
<p>
The PBT7100 is configurable such that given the barcode "STS 57", it can either send just "STS 57", or it can also include some delimiting character and the start and/or end of the string.
By default, the PBT7100 uses no prefix character, but it uses 0x0D as the postfix character.
0x0D is sometimes depicted as "\r". It's the carriage return character.
</p>

<p>
Unfortunately, the staging log in AxWare does not display "\r" when telling you what barcode
was scanned. So if you configure AxWare to use no prefix or postfix character, and the PBT7100
is using default settings, none of your barcodes will be recognized. And the staging log will
say "Warning: scanned entry 'STS 57' not recognized."
(It would be better if it said "Warning: scanned entry 'STS 57\r' not recognized.")
Then you would at least be alerted that there is an extra character coming from the scanner
and that's why AxWare is not recognizing the scan.
</p>

<p>
If the staging log shows that a scan came through, but it's not recognized, double check
your values for postfix character in Bar Coding -> Settings.
</p>

<p>
If you have the postfix character set correctly and it's still coming through strange,
see the section on Verifying Exactly What Data Comes Through.
</p>


<h3>10b. Verifying Exactly What Data Comes Through</h3>

<p>You can verify what EXACTLY is coming through your scanner by connecting it to a computer and
running something like this python script, which will print ALL CHARACTERS that come through.
(PuTTY is not adequate to show you exactly what's coming through, because PuTTY swallows "\r")</p>

<pre>

    import serial
    ser = serial.Serial('/dev/ttyUSB0', 9600, timeout=10)
    try:
        while True:
            data = ser.read()
            print(data)
    finally:
        ser.close()
</pre>
The scanner in its default config, when it reads "HS 14" on a barcode, will print this;
<pre>

    b'H'
    b'S'
    b' '
    b'1'
    b'4'
    b'\r'
</pre>

Note the b'\r' at the end. That's the same as 0x0d or 0x0D.



<p>Note it is possible to configure the scanner to NOT send a postfix character,
but then we have to remember that the scanner requires a non-default configuration.
So for now, keep the scanner with its default settings and just tell axware to use 0x0d as the
postfix character.</p>



<h3>10c. Resetting Scanner to Factory Defaults</h3>
<p>The scanner has lots of configurable settings, but it works fine with AxWare with its default settings as long as you tell AxWare that the postfix character is 0x0d. To reset the scanner to factory defaults, scan this barcode</p>
<img class='barcode' src='{{ request.static_path('arscca:static/images/pbt7100-factory-reset-barcode.png') }}'></img>



<h3>10d. Getting AxWare to Recognize Serial to USB Converter</h3>
<p>If AxWare doesn't show the Serial to USB device, you may need to install a driver. But first try clicking the "Refresh Port List" button.</p>


<h3>10e. Paging the Handheld</h3>

<p>Press the Yellow button on the base and immediately release it.
(Handheld will beep at 1Hz for several seconds)</p>







<h2>11. Additional Resources</h2>


<ul>
    <li><a href='https://www.manualslib.com/download/1162650/Datalogic-Powerscan-Pbt7100.html'>PBT7100 Reference Guide</a></li>
    <li><a href='https://www.manualslib.com/manual/882484/Datalogic-Powerscan-Pbt7100.html'>PBT7100 Quick Reference Guide</a></li>
</ul>

<h3>11a. LED and Beep Indications (Handheld)</h3>

In general, a L M H beep is a good thing, and H M L is a bad thing, a successful scan is one piercing beep, and an unsuccessful scan is one Low beep.

For more details, see  <a href='{{ request.static_path('arscca:static/pdfs/pbt7100-reference-pages-314-316.pdf') }}'>LED and Beep Indications</a> from the Reference Guide.




<h2>12. Part Numbers</h2>
<div class='line-item'>DataLogic PBT7100 Scanner w/ Base</div>
    <ul>
        <li>Available used on Ebay</li>
    </ul>
</div>

<div class='line-item'>DataLogic Power Supply</div>
    <ul>
        <li>Model: SA06-12S05R-V</li>
        <li>P/N: SA06-12S05-V-3A</li>
        <li>Output: 2.4A @ 5.2V</li>
        <li>Available used on Ebay</li>
    </ul>
</div>



<div class='line-item'><a href='https://www.amazon.com/gp/product/B00164MFFW/'>DataLogic 90A051891 Scanner Cable</a></div>
    <ul>
        <li>Looks like an ethernet plug on one end, but it actually has 10 conductors instead of 8.</li>
        <li>The other end is a serial connection</li>
        <li>Model/description: DATALOGIC 90A051891 CAB-408 RS232 PWR COIL9PIN FEM 6FT COILED </li>
        <li>When this cable was new, it did not fit into the PBT7100 base. But by removing a bit of the rubber around the CAB-408 end it fit fine.</li>
    </ul>
</div>

<div class='line-item'><a href='https://www.amazon.com/gp/product/B073ZJHNK1/'>Gearmo GM-FTDI-A12 Serial to USB Converter</a></div>
    <ul>
        <li>Has LEDs built in so you can see when data is passed through</li>
        <li>FTDI chip works on Linux</li>
    </ul>
</div>








