<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ARSCCA Results, Sortable by Column">
        <meta name="author" content="Jack Desert">
        <link rel="shortcut icon" href="/static/pyramid-16x16.png?x=1567089059">

        <title>The unOFFICIAL Guide to ARSCCA</title>

        <link href="/static/bootstrap_4.1.2.css?x=1567089059" rel="stylesheet">
        <link href="/static/theme.css?x=1567089059" rel="stylesheet">
        <link href="/static/feedback.css?x=1567089059" rel="stylesheet">

    </head>

    <body>


        <script>
            // Including this script early in the page so other templates can use it
            function ready(fn) {
                // See http://youmightnotneedjquery.com/
                if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
                    fn();
                } else {
                    document.addEventListener('DOMContentLoaded', fn);
                }
            }
        </script>

        <div class="container">
            <div class='row'>
                <div class='col-12'>
                    <div class='banner'>
                        <h1 class='page__title'>
                            The unOFFICIAL Guide
                            <br>
                            <span class='page__subtitle'>to SCCA in Arkansas</span>
                        </h1>
                    </div>
                </div>
            </div>



	    <div class="row">
		<div class="col-12">

                    <div class="content">



		        <h2 class='h2_banner'>404 </h2>
		        File not found. Try returning to our <a href='/'>Home Page</a>.

                    </div>
                </div>
	    </div>
            <div class="row">
                <div class='col-12'>
                    <hr class='footer-banner' />
                    <div class='author-block'>
                        <div>
                            Site by Jack Desert
                        </div>
                        <div>
                            Data Engineer
                        </div>
                        <div>
                            Little Rock, AR
                        </div>
                        <div>
                            
                            email: <a href='mailto:developer@jackdesert.com'>developer@jackdesert.com</a>
                        </div>

                        <div>
                            
                            facebook: <a href='//facebook.com/jworky'>facebook.com/jworky</a>
                        </div>

                        <div>
                            phone: +1 (971) 901-7899
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='feedback__link' id='feedback__link'>Feedback</div>

        <!-- <script src="/static/handlebars.js?x=1567089059"></script> -->
        <script src="/static/vue-development.js?x=1567089059"></script>
        <script src="/static/on_error.js?x=1567089059"></script>
        <script src="/static/drivers.js?x=1567089059"></script>
        <script src="/static/feedback.js?x=1567089059"></script>
        <script>
            bindFeedbackLink('feedback__link')
        </script>
    </body>
</html>
