@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #222;
  /*background: #bc2131;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.left
{
  float: left;
  padding-right: 2rem;
}

.clear
{
  clear: both;
}

.trophy__holder
{
  width: 10rem;
}

.trophy__link
{
  font-weight: bold;
  font-size: 1.2rem;
}

.trophy__image
{
  width: 5rem;
  margin-left: 0.3rem;
}




.footer-banner
{
  background: #a80006;
  height: 0.5rem;
}
.banner, .h2_banner
{
  color: #d8adaf;
  background: #a80006;
  padding: 0.5rem;
}

.h2_banner
{
  margin-top: 2rem;
  font-size: 1.6rem;
}

.h3_tips
{
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
}


.page__title
{
  line-height: 1;
}

.page__subtitle
{
  font-size: 1rem;
  line-height: 1;
  position: relative;
  top: -0.8rem;
}

.sortable-header, a, .feedback__link
{
  cursor: pointer;
  color: red;
  text-decoration: underline;
}
.feedback__link
{
  font-weight: bold;
  background: white;
  z-index: 1;
  position: fixed !important;
  right: -1.7rem !important;
  border: 1px solid #fcc;
  padding: 0 0.5rem !important;
  border-radius: 0.4rem 0.4rem 0 0 !important;
}

.feedback__link:hover
{
  border-color: #eaa;
}

.sortable-header:hover, a:hover, .feedback__link:hover
{
  color: #b00; /* dark red */
}

.sortable-header_active
{
  cursor: inherit;
  color: inherit;
  text-decoration: inherit;
  background: #4f4;
}

.td_active-sort
{
  background: #4f4;
}

td.car-class
{
  text-transform: uppercase;
}

table,tr,th,td
{
  border: none !important;
  border-collapse: collapse;
}

td, th
{
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

td.run-1, td.run-4
{
  border-left: 1px solid #faa !important;
}

tr:hover
{
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;
  cursor: pointer;
}
tr.selected
{
  background: #f88;
}

tr.selected a
{
  color: #55f;
}

.tr_stripe
{
  background: #e9e8e8;
}

.tr_stripe .td_active-sort
{
  background: #4e4;
  border-bottom: 1px solid #e9e8e8 !important;
  border-top:    1px solid #e9e8e8 !important;
}

.author-block
{
  margin-top: 2rem;
}

.photo__holder
{
  max-width: 300px;
  margin-bottom: 2rem;
  display: inline-block;
}

.driver__name
{
  font-size: 2rem;
}

.trophy-table__car-class
{
  font-size: 2rem;
  text-transform: uppercase;
  vertical-align: bottom;
  height: 5rem;
}

.trophy-table__references
{
  margin-top: 3rem;
}

.trophy-table__td_numeric
{
  text-align: right;
}

.gossip
{
  margin-top: 0rem;
}

.gossip h2
{
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
