@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #222;
  /*background: #bc2131;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.sortable-header, a
{
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

.sortable-header_active
{
  cursor: inherit;
  color: inherit;
  text-decoration: inherit;
  background: #4f4;
}

.td_active-sort
{
  background: #4f4;
}

td.car-class
{
  text-transform: uppercase;
}

table,tr,th,td
{
  border: none !important;
  border-collapse: collapse;
}

td, th
{
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.tr_stripe
{
  background: #e9e8e8;
}

.tr_stripe .td_active-sort
{
  background: #4e4;
  border-bottom: 1px solid #e9e8e8 !important;
  border-top:    1px solid #e9e8e8 !important;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
