@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #222;
  transition: background 500ms;
  /*background: #bc2131;*/
}

body.body_dimmed
{
  background: #bbb;
}

/* body.no-scroll is applied when an event photo is clicked
 * so that the scroll bar will not display while a single photo is on display
 */
body.no-scroll
{
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.space-1rem
{
  height: 1rem;
}

.space-2rem
{
  height: 2rem;
}

.space-3rem
{
  height: 3rem;
}

.space-4rem
{
  height: 4rem;
}

.left
{
  float: left;
  padding-right: 2rem;
}

.clear
{
  clear: both;
}

.trophy__holder
{
  width: 10rem;
}

.trophy__link
{
  font-weight: bold;
  font-size: 1.2rem;
}

.trophy__image
{
  width: 5rem;
  margin-left: 0.3rem;
}


.histogram
{
  position: relative;
  margin-top: -2rem;
  z-index: -1;
}


.footer-banner
{
  background: #a80006;
  height: 0.5rem;
}
.banner, .h2_banner
{
  color: #d8adaf;
  background: #a80006;
  padding: 0.5rem;
}

.h2_banner
{
  margin-top: 2rem;
  font-size: 1.6rem;
}

.h3_tips
{
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
}


.page__title
{
  line-height: 1;
}

.page__subtitle
{
  font-size: 1rem;
  line-height: 1;
  position: relative;
  top: -0.8rem;
}

.sortable-header, a, .feedback__link
{
  cursor: pointer;
  color: red;
  text-decoration: underline;
}
.feedback__link
{
  font-weight: bold;
  background: white;
  z-index: 1;
  position: fixed !important;
  right: -1.7rem !important;
  border: 1px solid #fcc;
  padding: 0 0.5rem !important;
  border-radius: 0.4rem 0.4rem 0 0 !important;
}

.feedback__link:hover
{
  border-color: #eaa;
}

.sortable-header:hover, a:hover, .feedback__link:hover
{
  color: #b00; /* dark red */
}

.sortable-header_active
{
  cursor: inherit;
  color: inherit;
  text-decoration: inherit;
  background: #4f4;
}

.td_active-sort
{
  background: #4f4;
}

td.car-class
{
  text-transform: uppercase;
}

table,tr,th,td
{
  border: none !important;
  border-collapse: collapse;
}

td, th
{
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

td.am-run, td.pm-run
{
  border-left: 2px solid #faa !important;
}
td.am-run + td.am-run, td.pm-run + td.pm-run
{
  border-left: none !important
}
td.am-run.best, td.pm-run.best
{
  /* 400 or 500 gives some contrast without overpowering */
  /* Black asked for bolder though, so running 600 */
  font-weight: 600;
}

tr:hover
{
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;
  cursor: pointer;
}
tr.selected
{
  background: #f88;
}

tr.selected a
{
  color: #55f;
}

tr.selected.tr_stripe
{
  background: #f99;
}

.tr_stripe
{
  background: #e9e8e8;
}

.tr_stripe .td_active-sort
{
  background: #4e4;
  border-bottom: 1px solid #e9e8e8 !important;
  border-top:    1px solid #e9e8e8 !important;
}

.solo-button
{
  margin: 0.7rem 0;
  border: 1px solid red;
  color: red;
}

.solo-button:hover
{
  border: 2px solid red;
}

.solo-button_active
{
  background: red;
  color: black;
}

.solo-button_active:hover
{
  border: 2px solid black;
}

.author-block
{
  margin-top: 2rem;
}

.photo__holder
{
  max-width: 300px;
  margin-bottom: 2rem;
  display: inline-block;
}

.driver__name
{
  font-size: 2rem;
}

.driver__photo
{
  margin: 0 2rem 2rem 0;
}

.trophy-table__car-class
{
  font-size: 2rem;
  text-transform: uppercase;
  vertical-align: bottom;
  height: 5rem;
}

.trophy-table__references
{
  margin-top: 3rem;
}

.trophy-table__td_numeric
{
  text-align: right;
}

.gossip
{
  margin-top: 0rem;
}

.gossip h2
{
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.errors
{
  border: 4px solid orange;
  padding: 1rem;
}

.run-group__car-class
{
  font-size: 2rem;
  text-transform: uppercase;
}

.run-group__h2
{
  margin-top: 1rem;
}

.run-group__intro
{
  margin-top: 1rem;
}

.run-group__button_generate
{
  background: greenyellow;
}

.run-group__button_clear
{
  background: red;
}

.run-group__skill-icon
{
  width: 2rem;
}

span.spoof
{
  font-size: 5rem;
  display: none;
}

.q
{
  margin-top: 1rem;
  font-weight: bold;
}

.q::before
{
  content: 'Q: '
}


.fond-memory__year
{
  font-size: 2rem;
}

.fond-memory__info
{
  vertical-align: top;
}

.fond-memory__info_dirt, .event__link_dirt a
{
  background: #fda;
}

.fond-memory__link_subdued
{
  color: #a99;
}

.flash
{
  background-color: yellow;
  color: red;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.photo-page__date
{
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.uploaded-photo
{
  width: 45%;
  margin-bottom: 0.2rem;
}

.overlay
{
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  text-align: center;
  z-index: 2; /* Above the .feedback__link */
}

.overlay.active
{
  display: block;
}

/* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div#answer-18869078 */
.overlay__img
{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input.radio
{
  margin-left: 2rem;
}

label.radio
{
  margin-bottom: 0;
}

.radio_checked
{
  font-weight: bold;
}

.radio:hover
{
  cursor: pointer;
  font-weight: bold;
}

.calendar-event__tr
{
  border-bottom: 1px solid #ddd !important;
}

.calendar-event__tr_autox
{
  background: #fee;
}

.calendar-event__tr_rallyx
{
  background: #ddf;
}

.calendar-event__tr_meeting
{
  background: #ccc;
}

pre
{
  background: #222 !important;
  color: #ccc !important;
}

.limited-width-for-readability
{
  max-width: 43em;
}


/* Order Matters */
@media (min-width: 767px) {
}

@media (min-width: 991px) {

  .uploaded-photo
  {
    width: 33%;
  }

  .photo-page__date
  {
    font-size: 1.3rem;
  }
}

@media (min-width: 1199px) {
  .uploaded-photo
  {
    width: 24%;
  }
}
